.form{
    background-color: #040B33;
    height: 1217px;
    padding:104px 0;
}
.form_style h1{
    color: #FAFAFA;
    font-weight: bold;
    font-size: 60px;
}
.form_style p{
color: #FAFAFA;
font-size: 20px;
font-weight: 400;
}
.vl {
    border-left: 6px solid red;
    height: 150px;
    position: absolute;
    left: 50%;
    margin-top: -140px;
  }
.form_style{

    background-color: #040B33;
	padding: 40px;
    text-align: center;
}
.form_style ul{
	padding:0;
	margin:0;
	list-style:none;
    margin-top: 50px;
}
.form_style ul li{
	display: block;
	margin-bottom: 10px;

}
.form_style ul li input{
	height: 89px;
    width: 594px;
    margin: 22px;
}
.form_style ul li textarea{
	height: 205px;
    width: 1238px;
    /* margin: 10px; */
}
 .form_btn{
width: 279px;
height: 96px;
background: red;
color: #FAFAFA;
font-weight: 600;
font-size: 20px;
margin-top: 80px;
    /* margin: 10px; */
}
.form_style ul li  .field_style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	

}