.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    /* position:absolute; */
}
.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.navbar a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
    padding: 70px 35px 35px 35px;
}
.navbar button{
    background: transparent;
    color: white;
    border: 2px solid;
    font-size: 22px;
    padding: 24px 40px;
    border-radius: 60px;
}
.navbar ul li a:hover{
    background-color: #FF0513;
}
